* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }